.creditsLabel {
    color: rgba(255, 255, 255, 0.75);
    font-size: 32px;
    -unity-text-align: middle-center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.out-cont {
    flex-grow: 1;
    justify-content: center;
}

.inner-cont {
    flex-direction: row;
    justify-content: space-around;
}

.column1 {
    width: 50%;
}

.right-label {
    -unity-text-align: middle-left;
}

.left-label {
    -unity-text-align: middle-right;
}
