.stand {
    rotate: 0;
    opacity: 1;
    transition-property: rotate, opacity;
    transition-duration: 0.4s, 0.4s;
}

.hidden-left {
    rotate: -179deg;
    opacity: 0;
}

.hidden-right {
    rotate: 179deg;
    transition-property: rotate, opacity;
    transition-duration: 0.4s, 0.4s;
    opacity: 0;
}
